{% import 'macros.j2' as macros -%}

## Argo Workflows Demo

<hr style="width:100%;border-bottom:3px solid black;">

<hr style="width:95%;border-bottom:1px dashed black;">

``` Makefile
{{open('demos/argo-wf.mk','r').read().strip()}}
```
<hr style="width:95%;border-bottom:1px dashed black;">

<hr style="width:100%;border-bottom:3px solid black;">

