{% import 'macros.j2' as macros -%}

## Demo Index
<hr style="width:100%;border-bottom:3px solid black;">

Overview of the main demos, since left-nav is too small to pack in the details.

**[Basic Cluster Lifecycle](demos/cluster-lifecycle)**
:  Placeholder

**[Argo Workflows Example](demos/argo-wf)**
:  Placeholder

**[FaaS with Fission](demos/fission.md)**
:  Placeholder

**[Multi-Cluster Networking](demos/multicluster.md)**
:  Placeholder

<hr style="width:100%;border-bottom:3px solid black;">

[^1]: [https://minikube.sigs.k8s.io](https://minikube.sigs.k8s.io/)
[^2]: [https://docs.tigera.io](https://docs.tigera.io/)
[^3]: [https://submariner.io](https://submariner.io)
[^4]: [kubernetes multicluster with kind and submariner](https://piotrminkowski.com/2021/07/08/kubernetes-multicluster-with-kind-and-submariner/)
[^5]: [minikube docker driver](https://minikube.sigs.k8s.io/docs/drivers/docker/)