{% import 'macros.j2' as macros -%}

## Debugging with Kubetail
<hr style="width:100%;border-bottom:3px solid black;">

{% include "includes/demo-common.md.j2" %}

Kubetail is great, check out the official project page[^1].  One of the most tedious aspects kubectl is that wildcards are not supported, and so you end up awkwardly using a lot of filtering and labels, and kubetail fixes this.  Besides bundling kubetail in [the toolbox]({{mkdocs.site_relative_url}}/toolbox), the k8s-tools suite provides some additional helpers for automation.

### Source Code 
<hr style="width:100%;border-bottom:3px solid black;">

For this demo, we'll just extend the [FaaS demo]({{mkdocs.site_relative_url}}/demos/fission) and show how to use the logging helpers after the main setup is done.  This makes the demo implementation pretty short:

{{macros.embed_demo(
    'demos/kubetail.mk',
    github=github)}}


### Basic Usage
<hr style="width:100%;border-bottom:3px solid black;">

For starters just run the main functions-as-a-service demo:

```bash {.cli_example}
$ ./demos/kubetail.mk clean create deploy
```
```bash {.cli_output}
...
```

There's a few targets already set up.  Below you can see an example of output

```bash {.cli_example}
$ ./demos/kubetail.mk logs.basic
```
```bash {.cli_output}
⑆ kubetail.logs // fission // kind=deployments filter=* 
{
  "level": "info",
  "ts": "2025-06-04T02:15:28.227Z",
  "logger": "generic_pool_manager.pool_pod_controller",
  "caller": "poolmgr/poolpodcontroller.go:132",
  "msg": "pool pod controller handlers registered"
}
```

### Interactive Workflows
<hr style="width:100%;border-bottom:3px solid black;">

The demo source shows how to use kubetail programmatically as task prerequisites, and how to use it directly from [tasks dispatched to containers]({{mkdocs.site_relative_url}}/k8s.mk/#shells-task-dispatch).  

You can also use kubetail in [tool-mode]({{mkdocs.site_relative_url}}/tool-mode/):

```bash 
# show 
$ KUBECONFIG=.. ./k8s.mk kubetail/fission/deployments/*
$ KUBECONFIG=.. ./k8s.mk kubetail.serve.bg
$ KUBECONFIG=.. ./k8s.mk kubetail.serve
```

<hr style="width:100%;border-bottom:3px solid black;">

[^1]: [kubetail official project page](https://github.com/kubetail-org/kubetail)
[^2]: [kubetail CLI reference](https://www.kubetail.com/docs/cli/commands/logs)
