site_name: k8s-tools
# repo_url: https://github.com/robot-wranglers/k8s-tools
# repo_name: robot-wranglers/k8s-tools
theme:
  name: readthedocs
  features:
    - content.code.annotate
    - content.code.copy
    # - navigation.sections
    - navigation.expand
    # - navigation.path
    # - navigation.prune
    # - navigation.tracking
    - navigation.top
    - toc.integrate
  font:
    # code: Roboto Mono
    code: Rasa
  logo: img/icon.png
  custom_dir: docs/theme
  highlightjs: true
  hljs_style: agate
  hljs_linenums: true
  hljs_languages:
    - yaml
    - makefile
    - bash
    - json
  icon:
    repo: fontawesome/brands/git-alt
site_url: https://robot-wranglers.github.io/k8s-tools
site_description: >-
  Completely dockerized version of a kubernetes toolchain, plus a zero-dependency automation framework for extending and interacting it. Project-local clusters, cluster lifecycle automation, customizable TUIs, and more.
nav:
  - Overview:
    - 'Overview': 'overview.md'
    - 'Quickstart': 'quickstart.md'
    - 'Toolbox & Manifest': 'toolbox.md'
    - 'Intro to Automation': 'k8s.mk.md'
    - 'Intro to Clusters': clusters.md
    # - Features: 'features.md'
    # - Integration: 'integration.md'
  # - Core Components:
  #   - 'K8s-tools.yml': 'k8s-tools.yml.md'
  #   - 'K8s.mk': 'k8s.mk.md'
  # - Stand Alone Mode:
  #   - 'Tool Overview': 'tool-overview.md'
  - Demos:
    - 'Index of Demos': demos/index.md
    - 'Basic Cluster Lifecycle': demos/cluster-lifecycle.md
    - 'Multi-Cluster Networking': demos/submariner.md
    - 'Istio Traffic Management': demos/istio.md
    - 'Argo Workflows Example': demos/argo-wf.md
    - 'FaaS with Fission': demos/fission.md
    - 'Local-first with Kompose': demos/kompose.md
    - 'Object Storage with Minio': demos/minio.md
    - 'Tiltfiles, Embedded or External': demos/tilt.md
    - 'Ansible, Embedded or External': demos/ansible.md
    - 'Terraform, Embedded': demos/terraform.md
    # - 'TUI Example': demos/tui.md
    # - 'Bypassing registries with Buildah': demos/buildah.md
  - Tool Mode:
    - 'Overview': tool-mode.md
    - 'Debugging with Kubetail': demos/kubetail.md
  - API:
    - 'Library Tour': 'lib.md'
    - 'Idioms': 'idioms.md'
    - 'Full API': 'api.md'
  - Other:
    - 'Configuration ': config.md
    - limitations.md
    # - contributing.md
    - 'Project Source': 'https://github.com/robot-wranglers/k8s-tools/'
plugins:
  - search
  - autolinks
  - redirects: # https://github.com/mkdocs/mkdocs-redirects
      redirect_maps:
        'index.md': 'overview.md'

# https://squidfunk.github.io/mkdocs-material/reference/lists/#using-definition-lists
markdown_extensions:
  - footnotes 
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - abbr
  - def_list
  - attr_list

docs_dir: docs
site_dir: site