!!! note "Note"
    For more background information, make sure to check out the [demos overview]({{mkdocs.site_relative_url}}/demos) page.
    
    {%if demo_extra|default("")%}
    {{demo_extra}}
    {%endif%}
