{% import 'macros.j2' as macros -%}

## k8s-tools 
<hr style="width:100%;border-bottom:3px solid black;">

{#*Documentation on this page is pulled automatically from source: {{macros.repo_link('k8s-tools.yml',github)}}* #}

```yaml
{{open('k8s-tools.yml','r').read().strip()}}
```
<br/>
<hr style="width:100%;border-bottom:3px solid black;">
