## k8s-tools 

<hr style="width:100%;border-bottom:3px solid black;">

### Things 

```yaml
{{open('k8s-tools.yml','r').read().strip()}}
```

<hr style="width:95%;border-bottom:1px dashed black;">
<hr style="width:95%;border-bottom:1px dashed black;">

<hr style="width:100%;border-bottom:3px solid black;">
