## Quickstart
<br/>

### Basic Installation
<hr style="width:100%;border-bottom:3px solid black;">

Basic installation is just copying files and making them executable:

```bash
$ cd myproject 

# Download compose.mk, k8s.mk, and k8s-tools.yml
$ curl -sLo compose.mk \
  https://raw.githubusercontent.com/Robot-Wranglers/k8s-tools/master/compose.mk
$ curl -sLo k8s.mk \
  https://raw.githubusercontent.com/Robot-Wranglers/k8s-tools/master/k8s.mk \
$ curl -sLo k8s-tools.yml \
  https://raw.githubusercontent.com/Robot-Wranglers/k8s-tools/master/k8s-tools.yml \

# Make scripts executable
$ chmod +x compose.mk k8s.mk k8s-tools.yml

# Now equivalent to `make -f compose.mk ...`
$ ./compose.mk ...
$ ./k8s.mk ...

# Now equivalent to `docker compose -f k8s-tools.yml ...`
$ ./k8s-tools.yml ...
```

Local clusters with lots of containers might require increasing the OS limits for open-files.  See [the kind docs](https://kind.sigs.k8s.io/docs/user/known-issues#pod-errors-due-to-too-many-open-files) for hints about increasing this value.

That's it for basic installation, and at this point you can do lots of stuff by using `k8s.mk` in stand-alone mode.  Read on for tighter project integration, library usage, and scripting.

### Project Integration
<hr style="width:100%;border-bottom:3px solid black;">

In your project Makefile:

```Makefile
# Include the `k8s.mk` library.  
# This implicitly includes `compose.mk`
include k8s.mk

# generate target scaffolding for the tool containers
$(eval $(call compose.import, k8s-tools.yml))
```

### For Developers
<hr style="width:100%;border-bottom:3px solid black;">

To run demos yourself, you'll want to clone the repository.

```bash
# for ssh
$ git clone git@github.com:Robot-Wranglers/k8s-tools.git

# or for http
$ git clone https://github.com/Robot-Wranglers/k8s-tools.git

# pre-cache the containers
$ make build 

# run all the demos
$ make demos
```
<br/>


{#
You'll probably want to read over the [compose.mk]({{mkdocs.site_relative_url}}/compose.mk) section to really understand what's going on here.  In case you've already seen it though, here's the quick start with the copy/paste stuff.

First, copy the files from this repo into your project:

```bash
$ cd myproject 

# Download the compose file with the tool containers
$ curl -sL \
  {{github.raw_url}}/master/k8s-tools.yml \
    > k8s-tools.yml

# Download the compose.mk automation lib
$ curl -sL \
  {{github.raw_url}}/master/compose.mk \
    > compose.mk

# Download the k8s.mk automation lib.
$ curl -sL \
  {{github.raw_url}}/master/k8s.mk \
    > k8s.mk

```

These 3 files are usually working together, but in some cases they are useful in a stand-alone mode.  Make them all executable like this:

```bash
$ chmod ugo+x k8s-tools.yml compose.mk k8s.mk

# equivalent to `make -f k8s.mk ..`
./k8s.mk ... 

# equivalent to `make -f compose.mk ..`
$ ./compose.mk ... 

# equivalent to `docker compose -f k8s-tools.yml run ...`
$ ./k8s-tools.yml run ...
```

That's all the setup you'll need just for using tools directly.  See the next section for more information/examples re: stand-alone mode.

If you're interested in tighter integration like setting up the [Make/Compose bridge]({{mkdocs.site_relative_url}}/compose.mk#makecompose-bridge) or preparing for [Container Dispatch]({{mkdocs.site_relative_url}}/compose.mk#container-dispatch), here's a quick example of what your project Makefile should look like:

```Makefile
# myproject/Makefile (Make sure you have real tabs, not spaces!)
 
# Include/invoke the target-building macros 
# somewhere near the top of your existing boilerplate
include compose.mk
$(eval $(call compose.import, ▰, TRUE, k8s-tools.yml))

# At this point, targets are defined for whatever services
# are mentioned in the external compose config, and they are
# ready to use. Now you can dispatch any task to any container!
test: ▰/k8s/self.test
self.test:
  kubectl --version
  echo hello world from `uname -n -v`
```
#}
