# See also: https://docs.github.com/en/actions
name: ArgoWF Demo
on:
  workflow_dispatch: {}
  workflow_call: {}
  push:
    branches: [ "main" ]
    paths-ignore:  ['**.gif', '**.md', '**.md.j2', '**.mmd', '**.png', '**.svg']
  pull_request:
    branches: [ "main" ]
    paths-ignore:  ['**.gif', '**.md', '**.md.j2', '**.mmd', '**.png', '**.svg']
permissions:
  contents: read
jobs:
  test:
    name: ArgoWF Demo
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Initialize
        run: make clean init build
      - name: Run ArgoWF Demo
        run: ./demos/argo-wf.mk
        env:
          COLUMNS: 150